* { box-sizing: border-box; }
body { background-color: black;
       color: pink;
	   font-family: "Lucida Console", "Courier New", monospace;
	   

	   
}  


#wrapper{
margin:0;}
header { background-color: black; 
         color: pink;
padding-bottom:20px;		 
}
header a { text-decoration: none; }
header a:link       { color: pink; }
header a:visited { color: pink; }
header a:hover     { color: pink; }
h1 { font-size: 2em; 
text-align:center;
}
h2 { color: pink; 
font-size:2em;}
h3, dt { color: pink; }
h4 { background-color: black;
     font-size: 1.2em;
	 padding-left: .5em;
	 padding-bottom: 0; 
	 text-transform: uppercase; 
	 border-bottom: 1px solid  white;
	 clear: left;  
} 
p{color:white;
font-size:20px;}

nav a {text-decoration: none;
color:white; }
nav a:link       { color: white; }
nav a:visited { color: pink; }
nav a:hover     { color: pink; }

a:link{color:white;}
a:visited{color:pink;}
a:hover{color:pink}


#center a{border:3px dashed #B5FFFD;
padding:20px;
padding-right:50px;

}
#center{text-align:center;
font-size:2em;
margin-left:-200px;
border-bottom:3px solid #B5FFFD;
padding-bottom:50px;}

.details { padding-left: 20%;
           padding-right: 20%;
           overflow: auto;
}

footer { background-color: pink;
         font-size: .80em;
		 font-style: italic;
		 text-align: center;
		 padding-bottom: 1em;
		 border-top: 2px solid #B5FFFD;
		 color:black;
		 padding-top:20px;
}

#mobile{display:inline;}
#desktop{display:none;}

@media (min-width: 600px)
{
header{
padding-left: 0;}
h1{font-size:3em;}
nav ul{ display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		justify-content: space-around;}
		nav ul li{border-bottom:none;}
		#flow{display:flex;
		flex-direction:row;}
		#mobile{display:none;}
		#desktop{display:inline;}
		.details{display:flex;
		flex-direction:row;}
		h4{margin-left:10%;
		margin-right:10%;}
}

.container {
	padding: 2rem;
}
.slider-wrapper {position:relative;
max-width:48rem;
margin: 0 auto}

.slider {
	display: flex;
	aspect-ratio: 16/9;
	overflow-x: auto;
	scrollbar-width:none;
	scroll-snap-type: x mandatory;
	scroll-behavior:smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0%,0%, 0.25);
	border-radius: 0.5rem;
	
}

.slider img{

	flex: 1 0 100%;
	scroll-snap-align:start;
	object-fit:cover;
}

.slider-nav a {
	width:0.5rem;
	height:0.5rem;
	border-radius:50%;
	background-color:#fff;
	opacity: 0.75;
	transition: opacity ease 250ms;

}


.slider-nav {display:flex;
column-gap:1rem;
position:absolute;
bottom: 1.25rem;
left:50%;
transform: translateX(-50%);
z-index: 1;
}
@media (min-width: 1024px)
{
header{grid-area:header;}
nav{grid-area:nav;}
main{grid-area:main;}
footer{grid-area:footer;}

#wrapper{display:grid;
grid-template:
"header header"
"nav main"
"footer footer"
/200px;}
nav ul{display:flex;
flex-direction:column;}


table, th, td{border: 5px solid #B5FFFD;
margin:auto;
height:50px;
font-size:15px;
padding:0;}

table{width:90%}

td{padding:10px;}

td img{border:none}

input[type="text"] {
	border:none;
	border-bottom:3px solid #B5FFFD;
}
input[type="email"] {
	border:none;
	border-bottom:3px solid #B5FFFD;
}


img{border: 3px solid #B5FFFD;
padding:15px;
width:80%;
height:auto;
display:block;}
.row{display:flex;
padding-bottom:50px;}

#artworks{width:550px;
height:auto;
}

fieldset{margin:auto;
	width:30%;
	text-align:center;
border: 2px solid #B5FFFD;
padding:20px;
margin-left:500px;
padding-bottom:30px;
}

#text{width:50%;
height:300px;
overflow:auto;
vertical-align:top;
word-wrap:break-word;
border: 4px solid #B5FFFD}


#location{text-align:center;}


button{background-color:#B5FFFD;}

input{background-color:#B5FFFD;}

td video{width:100%;}

td img{width:100%;}

}

